
<div id="section">
	<center><h1><font color = "blue">Guimaras PDRRMC <br>Post Disaster Assessment and Decision Support Response System</h1></font>
	<p></center>
	hello Guimaras PDRRMC PDADSRS is a computer software that automatically computes the impact of disaster in Guimaras. This system is integrated with decision support that aids in the computations and identifications of relief aids needed by victims for a fair, precise and time distribution.
	</p>
	<p>
	below is the map of Guimaras. Please feel free to enter your source location and target location to check for the current best route.
	ddfdsfdsfskmggdfgdfmgmfdgmfdmgdfg;df;gm;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;dlsmsfslfLLFD
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
    </p>
</div>

<div id = "aside">
	<center><li><%=link_to image_tag("gmap.gif"), {:controller => 'pages', :action => 'biggmap'} %> </li></center>
</div>	

</body>

