<body bgcolor="white" link= "white">

<div id="section">
    <p>
	 <center><h1><b>Log in </b> </h1></center>
     <center>
     	<p><p>
     <form id = "Login" method="post">
     	USERNAME:  <input type = "text"><p><p>
     	PASSWORD:  <input type = "password" ><p><p>
     	<input type = "button" value="submit">
     </form>

 
	<p><p><p><p><p><p>
	
	</center>
</div>

</body>


	


